<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@Page.Title - Miss Lily Grace </title>


    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />



    @*  JQUERY MOBILE THEME CSS  *@
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0a2/jquery.mobile-1.0a2.min.css" />

    @*  BOOTSTRAP THEMES CSS  *@
    <link rel="stylesheet" href="css/bootstrap-image-gallery.min.css">
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />



    @*  SLICK THEME CSS  *@
    @*<link rel="stylesheet" type="text/css" href="~/slick-1.4.1/slick/slick.css" />*@
    @*<link rel="stylesheet" type="text/css" href="~/slick-1.4.1/slick/slick-theme.css" />*@

    @*  SLIDER PRO HEADER CSS  *@
    <link rel="stylesheet" type="text/css" href="~/slider-pro-master/dist/css/slider-pro.min.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="~/slider-pro-master/libs/fancybox/jquery.fancybox.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="~/slider-pro-master/examples/css/examples.css" media="screen" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>

    @*  CUSTOM LILYPAD THEME CSS  *@
    <link href="~/Content/lilypadstyles.css" rel="stylesheet" type="text/css" />


    @*  SITE SCRIPTS  *@
    <script src="~/Scripts/jquery-2.1.3.min.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>
    <script src="http://code.jquery.com/mobile/1.0a2/jquery.mobile-1.0a2.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>

    <script src="http://code.jquery.com/jquery-latest.js"></script>

    @*  GALLERY SLIDER SCRIPTS  *@
    <script type="text/javascript" src="~/slider-pro-master/libs/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="~/slider-pro-master/dist/js/jquery.sliderPro.min.js"></script>
    <script type="text/javascript" src="~/slider-pro-master/libs/fancybox/jquery.fancybox.pack.js"></script>

    @*  CUSTOM LILYPAD THEME SCRIPTS  *@
    <script type="text/javascript" src="~/Scripts/LilyPadContactForm.js"></script>
    <script type="text/javascript" src="~/Scripts/LilyScript01.js"></script>

    @* FONTS *@
    <link href='http://fonts.googleapis.com/css?family=Kurale' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Fredericka+the+Great' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Cabin+Sketch' rel='stylesheet' type='text/css'>

    <meta name="viewport" content="width=device-width" />

</head>



<body>

    @* START NAV BAR *@
    <div class="row">
        <div id="navbar">
            <div class="navbar navbar-inverse navbar-collapse" align="center">

                <div class="col-lg-1 col-md-1 col-sm-1"></div>

                <div class="col-lg-10 col-md-10 col-sm-10 " id="navbar-cols">
                    <div class="navbar-header" id="navbar-buttons" align="center">

                        <button type="button" class="navbar-toggle " data-toggle="collapse" data-trigger="#lw-navbar" data-target=".navbar-collapse">

                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                        <a class="navbar-brand" href="~/Default.cshtml">Home</a>
                        <a class="navbar-brand" href="~/About">About</a>

                        <a class="navbar-brand" href="~/Store.cshtml">Sexy Store</a>
                        @*  MUST BUILD  *@
                        <a class="navbar-brand" href="~/Blog.cshtml">Blog</a>
                        
                        <a class="navbar-brand" href="~/faq.cshtml">FAQ's</a>
                        

                        <a class="navbar-brand" href="~/Reviews">Reviews</a>
                        <a class="navbar-brand" href="~/Gallery">Gallery</a>

                        <a class="navbar-brand" href="~/Contact">Contact</a>
                    </div>
                </div>

                <div class="col-lg-1 col-md-1 col-sm-1"></div>
            </div>
        </div>
    </div>
    @* END NAV BAR *@


    @* START BODY <br />   *@

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-1 col-md-1 col-sm-1"></div>

            <div class="col-lg-10 col-md-10 col-sm-10" style="">
                <section class="content-wrapper main-content clear-fix">
                    @RenderBody()
                </section>
            </div>

            <div class="col-lg-1 col-md-1 col-sm-1"></div>
        </div>
    </div>
    @* END BODY  *@


    @* FOOTER SECTION *@
    <footer>
        <div class="content-wrapper">
            <div class=" text-center">
                <p>&copy; @DateTime.Now.Year - Lily Grace</p>
            </div>
        </div>
    </footer>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap-image-gallery.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.4.1/slick.min.js"></script>


    @RenderSection("Scripts", required: false)



</body>
</html>



@*<script>
        $("#contactForm").validate({
            submitHandler: function (form) {
                form.submit();
            }
        });
    </script>*@

@*<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.4.1/slick.min.js"></script>*@

@*  BlueImp Gallery Scripts
    <script src="~/blueimp-Bootstrap-Image-Gallery-3.1.1-0-gbee85fa/blueimp-Bootstrap-Image-Gallery-281af5b/js/bootstrap-image-gallery.min.js"></script>
*@
@*<script src="~/blueimp-Bootstrap-Image-Gallery-3.1.1-0-gbee85fa/blueimp-Bootstrap-Image-Gallery-281af5b/js/bootstrap-image-gallery.min.js"></script>*@


<!--
<script>
    blueimp.Gallery(
        document.getElementById('links').getElementsByTagName('a'),
        {
            container: '#blueimp-gallery-carousel',
            carousel: true
        }
    );

            <script src="~/blueimp-Bootstrap-Image-Gallery-3.1.1-0-gbee85fa/blueimp-Bootstrap-Image-Gallery-281af5b/js/bootstrap-image-gallery.min.js"></script>



        <script>
            blueimp.Gallery(
                document.getElementById('links').getElementsByTagName('a'),
                {
                    container: '#blueimp-gallery-carousel',
                    carousel: true
                }
            );
        </script>
</script>

                <script src="~/blueimp-Bootstrap-Image-Gallery-3.1.1-0-gbee85fa/blueimp-Bootstrap-Image-Gallery-281af5b/js/bootstrap-image-gallery.min.js"></script>



                <script>
blueimp.Gallery(
    document.getElementById('links').getElementsByTagName('a'),
    {
        container: '#blueimp-gallery-carousel',
        carousel: true
    }
);

        <script src="~/blueimp-Bootstrap-Image-Gallery-3.1.1-0-gbee85fa/blueimp-Bootstrap-Image-Gallery-281af5b/js/bootstrap-image-gallery.min.js"></script>



                <script>
        blueimp.Gallery(
            document.getElementById('links').getElementsByTagName('a'),
            {
                container: '#blueimp-gallery-carousel',
                carousel: true
            }
        );
                </script>

    -->
<!--
                                    <div class="navbar-collapse collapse" id="lw-navbar">


                                        <ul class="nav navbar-nav navbar-left" style="float:left">


                                            <li>
                                                <iv >

                                                </iv>
                                            </li>
                                            <li>
                                                <div class="navbar-btn">
                                                    <a href="~/About">About</a>

                                                </div>
                                            </li>
                                            <li>
                                                <div class="navbar-btn">
                                                    <a href="~/Gallery">Gallery</a>

                                                </div>
                                            </li>
                                            <li>
                                                <div class="navbar-btn">
                                                    <a href="~/Service">Service</a>

                                                </div>
                                            </li>
                                            <li>
                                                <div class="navbar-btn">
                                                    <a href="~/Contact">Contact</a>

                                                </div>
                                            </li>
                                            @*
                        <li><a href="~/Gallery">Gallery</a></li>
                        <li><a href="~/Service">Service</a></li>
                        <li><a href="~/Contact">Contact</a></li>
                                            *@


                                        </ul>
                                        -->
@*
    <div class="bottom-right">
    <section id="login">
        @if (WebSecurity.IsAuthenticated)
        {
            <text>
                Hello, <a class="email" href="~/Account/Manage" title="Manage">@WebSecurity.CurrentUserName</a>!
                <form id="logoutForm" action="~/Account/Logout" method="post">
                    @AntiForgery.GetHtml()
                    <a href="javascript:document.getElementById('logoutForm').submit()">Log out</a>
                </form>
            </text>
        }
        else
        {
            <ul>
                <li><a href="~/Account/Register">Register</a></li>
                <li><a href="~/Account/Login">Log in</a></li>
            </ul>
        }
    </section>
    </div>
*@


